<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<!-- Dependent Class Cfg -->
	<bean id="dEngine" class="com.nt.comp.DieselEngine"/>
	<bean id="pEngine" class="com.nt.comp.PetrolEngine"/>
	<bean id="wEngine" class="com.nt.comp.WaterEngine"></bean>
	
	<!-- Target Class Cfg -->
	<bean id="vehicle" class="com.nt.comp.Vehicle">
		<property name="engg" ref="dEngine"/>
	</bean>
</beans>
