<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
<!-- factory bean cfg -->
<bean id="dbp" class="com.nt.beans.DeliverBoy_ProductFactoryBean">
	<constructor-arg value="mobile"/>
</bean>

<!-- target bean cfg -->
<bean id="cust" class="com.nt.beans.Customer">
	<constructor-arg ref="dbp"/>
</bean>


</beans>
