<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<!-- Main Class cfg -->
<bean id="intcal" class="com.nt.beans.BankLoanInterestCalculator">
	<replaced-method name="calculateIntAmt" replacer="intcalReplacer">
		<arg-type>float</arg-type>
		<arg-type>float</arg-type>
		<arg-type>float</arg-type>
	</replaced-method>
</bean>

<!-- Replacer Class cfg -->
<bean id="intcalReplacer" class="com.nt.beans.BankLoanInterestCalculatorReplacer"/>

</beans>
